<a href="https://colab.research.google.com/github/VyDuong162/Movie-recommendation-system-base-on-sentiment-analysis/blob/main/.ipynb_checkpoints/preprocessing4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path_dir = '/content/drive/MyDrive/LV/RecommenderSYS/datasets'

## Task 1: Extracting movies data

-  ### Subtask 1.1: Import and read 2020 movies from Wikipedia

In [ ]:
link="https://en.wikipedia.org/wiki/List_of_American_films_of_2020"
df1 = pd.read_html(link)[2]
df2 = pd.read_html(link)[3]
df3 = pd.read_html(link)[4]
df4 = pd.read_html(link)[5]

In [ ]:
data_20 = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [ ]:
data_20

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.
0,JANUARY,3,The Grudge,Screen Gems / Stage 6 Films / Ghost House Pict...,Nicolas Pesce (director/screenplay); Andrea Ri...,[2],NaN
1,JANUARY,10,Underwater,20th Century Fox / TSG Entertainment / Chernin...,"William Eubank (director); Brian Duffield, Ada...",[3],NaN
2,JANUARY,10,Like a Boss,Paramount Pictures,"Miguel Arteta (director); Sam Pitman, Adam Col...",[4],NaN
3,JANUARY,10,Three Christs,IFC Films,Jon Avnet (director/screenplay); Eric Nazarian...,NaN,NaN
4,JANUARY,10,Inherit the Viper,Barry Films / Tycor International Film Company,Anthony Jerjen (director); Andrew Crabtree (sc...,[5],NaN
...,...,...,...,...,...,...,...
269,DECEMBER,25,We Can Be Heroes,Netflix / Troublemaker Studios,Robert Rodriguez (director/screenplay); Priyan...,NaN,[241]
270,DECEMBER,25,News of the World,Universal Pictures / Perfect World Pictures,Paul Greengrass (director/screenplay); Luke Da...,NaN,[242]
271,DECEMBER,25,One Night in Miami...,Amazon Studios,Regina King (director); Kemp Powers (screenpla...,NaN,[243]
272,DECEMBER,25,Promising Young Woman,Focus Features / FilmNation Entertainment,Emerald Fennell (director/screenplay); Carey M...,NaN,[244]
273,DECEMBER,30,Pieces of a Woman,Netflix / Bron Studios,Kornél Mundruczó (director); Kata Wéber (scree...,NaN,[245]

In [ ]:
!pip install tmdbv3api

Collecting tmdbv3api
  Downloading tmdbv3api-1.7.6-py2.py3-none-any.whl (17 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from tmdbv3api) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2021.10.8)
Installing collected packages: tmdbv3api
Successfully installed tmdbv3api-1.7.6

In [ ]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = '1974662aed9fdffb3ac0d19b14b68349'
from tmdbv3api import Movie
tmdb_movie = Movie()

In [ ]:
Movie().search('The Grudge')

[{'adult': False, 'backdrop_path': '/jH0m3IgHaTZ6qq7zoLA30CzogSM.jpg', 'genre_ids': [27, 9648, 53], 'id': 1970, 'original_language': 'en', 'original_title': 'The Grudge', 'overview': 'An American nurse living and working in Tokyo is exposed to a mysterious supernatural curse, one that locks a person in a powerful rage before claiming their life and spreading to another victim.', 'popularity': 46.127, 'poster_path': '/5AGB8FVELnhMMw3nO372sw1xp58.jpg', 'release_date': '2004-10-22', 'title': 'The Grudge', 'video': False, 'vote_average': 5.9, 'vote_count': 2350},
 {'adult': False, 'backdrop_path': '/iuW78LWxApCvjLuMebcICwF2owQ.jpg', 'genre_ids': [27, 9648], 'id': 465086, 'original_language': 'en', 'original_title': 'The Grudge', 'overview': 'After a young mother murders her family in her own house, a detective attempts to investigate the mysterious case, only to discover that the house is cursed by a vengeful ghost. Now targeted by the demonic spirits, the detective must do anything to protect herself and her family from harm.', 'popularity': 21.667, 'poster_path': '/vN7JHlHOT9rHNDU27tfYqhABBj5.jpg', 'release_date': '2020-01-01', 'title': 'The Grudge', 'video': False, 'vote_average': 5.6, 'vote_count': 895},
 {'adult': False, 'backdrop_path': '/3HTK3FtjK5GXIvPswaIMBMHeL3E.jpg', 'genre_ids': [27, 53], 'id': 1975, 'original_language': 'en', 'original_title': 'The Grudge 2', 'overview': 'A young woman encounters a malevolent supernatural force while searching for her missing sister in Tokyo, a mean high school prank goes horribly wrong, and strange things begin happening in a Chicago apartment building.', 'popularity': 26.909, 'poster_path': '/kuNLFFg7ScTwjFrawaS9JPL52Ya.jpg', 'release_date': '2006-10-13', 'title': 'The Grudge 2', 'video': False, 'vote_average': 5.5, 'vote_count': 799},
 {'adult': False, 'backdrop_path': '/23LfsCO7z7d3MPVbS0qUk2y1iJ6.jpg', 'genre_ids': [9648, 27, 53], 'id': 1977, 'original_language': 'en', 'original_title': 'The Grudge 3', 'overview': 'Jake Kimble, the sole survivor of the Chicago massacre, is killed while in solitary confinement. His doctor begins investigating the claims he made about a long-haired woman in white, as a mysterious Japanese woman arrives at his old apartment building to help them get rid of the curse.', 'popularity': 21.558, 'poster_path': '/uEOWWRr8BbgPM0BiJiSTwHGaRx4.jpg', 'release_date': '2009-05-12', 'title': 'The Grudge 3', 'video': False, 'vote_average': 5.4, 'vote_count': 464},
 {'adult': False, 'backdrop_path': None, 'genre_ids': [27, 16], 'id': 757707, 'original_language': 'en', 'original_title': 'The Grudge 1.5', 'overview': "The Grudge 1.5 is an animated graphic novel short film, a series of segments set during and between the events of The Grudge and The Grudge 2. It prequels The Grudge 2 as it explores Eason's first contact with the Saeki murders, and consequently to the grudge curse.", 'popularity': 1.752, 'poster_path': None, 'release_date': '2006-01-01', 'title': 'The Grudge 1.5', 'video': False, 'vote_average': 2, 'vote_count': 1},
 {'adult': False, 'backdrop_path': None, 'genre_ids': [27], 'id': 376788, 'original_language': 'en', 'original_title': 'Tales from The Grudge', 'overview': '"Tales from The Grudge" is a series of three short segments that were released for "The Grudge 2" promotion, with an introduction from one of the producers of "The Grudge," Sam Raimi. The three segments expand the curse of the Saeki house as it finds other ways to spread itself, affecting other victims.', 'popularity': 1.111, 'poster_path': '/zpBgpWgiy8HZeuAf8oBXUTHsno4.jpg', 'release_date': '2006-09-19', 'title': 'Tales from The Grudge', 'video': False, 'vote_average': 6.8, 'vote_count': 4},
 {'adult': False, 'backdrop_path': '/8MJ5uD3OeUBF7Jb9cCppvoS4sNO.jpg', 'genre_ids': [37], 'id': 925874, 'original_language': 'en', 'original_title': 'The Grudge', 'overview': 'A Western tale of revenge and redemption.', 'popularity': 0.6, 'poster_path': '/bmUIIvxvp2z5TXuWcCJSgzzT8Lw.jpg', 'release_date': '1915-02-24', 'title': 'The Grudge', 'video': False, 'vote_average': 0, 'vote_count': 0},
 {'adult': False, 'backdrop_path': '/7sK1fJTh6ndhI7gRg1L9VS4260r.jpg', 'genre_ids': [27], 'id': 11838, 'original_language': 'ja', 'original_title': '呪怨', 'overview': 'Volunteer home-care worker Rika is assigned to visit a family, she is cursed and chased by two revengeful fiends: Kayako, a woman brutally murdered by her husband and her son Toshio. Each person that lives in or visits the haunted house is murdered or disappears.', 'popularity': 21.956, 'poster_path': '/oulszWeFpIBbbLZbkJNQiYRlcQs.jpg', 'release_date': '2002-10-18', 'title': 'Ju-on: The Grudge', 'video': False, 'vote_average': 6.8, 'vote_count': 552},
 {'adult': False, 'backdrop_path': '/9NACuGg0YkzNAUoRIxUSYFqfJ5m.jpg', 'genre_ids': [27, 53], 'id': 9666, 'original_language': 'ja', 'original_title': '呪怨2', 'overview': 'While driving , the pregnant horror-movie actress Kyôko Harase and her fiancé are in a car crash. She loses her baby and her fiancé winds up in a coma. Kyôko was cursed together with a television crew when they shot a show in the haunted house where Kayako was brutally murdered by her husband years ago. While each member of the team dies or disappears, Kyôko is informed that she has a three-and-a-half-month-old fetus in her womb.', 'popularity': 15.018, 'poster_path': '/y5ASudUs59uweNDkjWPCO2ebR5o.jpg', 'release_date': '2003-08-15', 'title': 'Ju-on: The Grudge 2', 'video': False, 'vote_average': 6.3, 'vote_count': 226},
 {'adult': False, 'backdrop_path': None, 'genre_ids': [27, 99], 'id': 65833, 'original_language': 'en', 'original_title': 'The Grudge 3: The Curse Continues', 'overview': 'The documentary behind the scenes of the movie The Grudge 3', 'popularity': 0.712, 'poster_path': None, 'release_date': '2009-01-01', 'title': 'The Grudge 3: The Curse Continues', 'video': False, 'vote_average': 8, 'vote_count': 4},
 {'adult': False, 'backdrop_path': '/bDdLg1FwfNX029ajdWTQcJdtWqu.jpg', 'genre_ids': [27], 'id': 36917, 'original_language': 'ja', 'original_title': '呪怨 黒い少女', 'overview': "There is a darkness in Fukie's body that grows and spreads to all who touch her life.", 'popularity': 8.187, 'poster_path': '/s3Sg0H1J5MctEEhgMxH57WIF1jE.jpg', 'release_date': '2009-06-27', 'title': 'Ju-on: Black Ghost', 'video': False, 'vote_average': 4.7, 'vote_count': 55},
 {'adult': False, 'backdrop_path': '/lnlXn8kU3qE3aKWpMkMj22I4aNd.jpg', 'genre_ids': [27], 'id': 26693, 'original_language': 'ja', 'original_title': '呪怨 白い老女', 'overview': 'The spiteful ghosts of an abused girl and her grandmother, both mercilessly murdered, return to haunt and take victims under their grudge.', 'popularity': 6.691, 'poster_path': '/dX9itkjGfYJq4gk2HIdAwmg31l8.jpg', 'release_date': '2009-06-27', 'title': 'Ju-on: White Ghost', 'video': False, 'vote_average': 6, 'vote_count': 61},
 {'adult': False, 'backdrop_path': '/tY9RkzUFUagcrLMriLd1fyOfG6G.jpg', 'genre_ids': [27], 'id': 382602, 'original_language': 'ja', 'original_title': '貞子vs伽椰子', 'overview': 'A girl, Yūri Kurahashi, after watching a cursed videotape together with her friend in a haunted house, becomes trapped in a conflict between the two murderous ghosts: Sadako Yamamura and Kayako Saeki', 'popularity': 24.12, 'poster_path': '/bRNL8q6utwEc2Vog5GwTFgm5NEQ.jpg', 'release_date': '2016-06-18', 'title': 'Sadako vs. Kayako', 'video': False, 'vote_average': 5.4, 'vote_count': 156},
 {'adult': False, 'backdrop_path': None, 'genre_ids': [], 'id': 777242, 'original_language': 'en', 'original_title': 'ROH Night of The Grudges', 'overview': "Some of Ring of Honor's biggest feuds to date come to a head from the National Guard Armory in Cambridge, MA.", 'popularity': 0.961, 'poster_path': '/8x67613iUdcArNMEKGcIS9O28cL.jpg', 'release_date': '2003-06-14', 'title': 'ROH Night of The Grudges', 'video': False, 'vote_average': 0, 'vote_count': 0},
 {'adult': False, 'backdrop_path': None, 'genre_ids': [], 'id': 794852, 'original_language': 'en', 'original_title': 'ROH Night of the Grudges II', 'overview': 'Night of the Grudges II was a wrestling event promoted by Ring of Honor. It took place on August 20, 2005 in Morristown, New Jersey.', 'popularity': 0.6, 'poster_path': '/oUPwIg9MQAJ6KUKkoN6HaMYPMep.jpg', 'release_date': '2005-08-20', 'title': 'ROH Night of the Grudges II', 'video': False, 'vote_average': 0, 'vote_count': 0}]

In [ ]:
#function get genre from api tmdb
def get_genre(x):
  genres = []
  result = tmdb_movie.search(x)
  if not result:
      return np.NaN
  else:
    movie_id = result[0].id
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
    data_json = response.json()
    if data_json['genres']:
      genres_str = " "
      for i in range(0, len(data_json['genres'])):
          genres.append(data_json['genres'][i]['name'])
      return genres_str.join(genres)
    else:
      return np.NaN

In [ ]:
get_genre('The Grudge')

'Horror Mystery Thriller'

In [ ]:
data_20['genres'] = data_20['Title'].map(lambda x: get_genre(str(x)))

In [ ]:
df_20 = data_20[['Title','Cast and crew','genres']]

In [ ]:
df_20

,Title,Cast and crew,genres
0,The Grudge,Nicolas Pesce (director/screenplay); Andrea Ri...,Horror Mystery Thriller
1,Underwater,"William Eubank (director); Brian Duffield, Ada...",Action Horror Science Fiction Thriller
2,Like a Boss,"Miguel Arteta (director); Sam Pitman, Adam Col...",Comedy
3,Three Christs,Jon Avnet (director/screenplay); Eric Nazarian...,Drama
4,Inherit the Viper,Anthony Jerjen (director); Andrew Crabtree (sc...,Crime Thriller Drama
...,...,...,...
269,We Can Be Heroes,Robert Rodriguez (director/screenplay); Priyan...,Action Fantasy Family Comedy
270,News of the World,Paul Greengrass (director/screenplay); Luke Da...,Adventure Western
271,One Night in Miami...,Regina King (director); Kemp Powers (screenpla...,Drama
272,Promising Young Woman,Emerald Fennell (director/screenplay); Carey M...,Thriller Crime Drama
273,Pieces of a Woman,Kornél Mundruczó (director); Kata Wéber (scree...,Drama

In [ ]:
df_20['Cast and crew'][0]

'Nicolas Pesce (director/screenplay); Andrea Riseborough, Demián Bichir, John Cho, Betty Gilpin, Lin Shaye, Jacki Weaver'

In [ ]:
# function get director
def get_director(x):
  if " (director)" in x:
    return x.split(" (director)")[0]
  elif " (directors)" in x:
    return x.split(" (directors)")[0]
  else:
    return x.split(" (director/screenplay)")[0]

In [ ]:
director = df_20['Cast and crew'].map(lambda x: get_director(x))

In [ ]:
df_20['director_name'] = director

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
def get_actor(x):
  return ((x.split("screenplay); ")[-1]).split(", "))[:3]

In [ ]:
get_actor(df_20['Cast and crew'][2])[0]

'Tiffany Haddish'

In [ ]:
actors = df_20['Cast and crew'].map(lambda x: get_actor(x))

In [ ]:
actors = pd.DataFrame(actors.to_list(), columns=['actor_1_name','actor_2_name','actor_3_name'])

In [ ]:
actors

              actor_1_name       actor_2_name     actor_3_name
0       Andrea Riseborough      Demián Bichir         John Cho
1          Kristen Stewart     Vincent Cassel  Jessica Henwick
2          Tiffany Haddish         Rose Byrne      Salma Hayek
3             Richard Gere     Peter Dinklage   Walton Goggins
4            Josh Hartnett  Margarita Levieva   Chandler Riggs
..                     ...                ...              ...
269  Priyanka Chopra Jonas       Pedro Pascal    YaYa Gosselin
270              Tom Hanks      Helena Zengel             None
271      Kingsley Ben-Adir          Eli Goree      Aldis Hodge
272         Carey Mulligan         Bo Burnham      Alison Brie
273          Vanessa Kirby       Shia LaBeouf     Molly Parker

[274 rows x 3 columns]

In [ ]:
df_20 = pd.merge(df_20, actors, left_index=True, right_index=True)

In [ ]:
df_20

,Title,Cast and crew,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,The Grudge,Nicolas Pesce (director/screenplay); Andrea Ri...,Horror Mystery Thriller,Nicolas Pesce,Andrea Riseborough,Demián Bichir,John Cho
1,Underwater,"William Eubank (director); Brian Duffield, Ada...",Action Horror Science Fiction Thriller,William Eubank,Kristen Stewart,Vincent Cassel,Jessica Henwick
2,Like a Boss,"Miguel Arteta (director); Sam Pitman, Adam Col...",Comedy,Miguel Arteta,Tiffany Haddish,Rose Byrne,Salma Hayek
3,Three Christs,Jon Avnet (director/screenplay); Eric Nazarian...,Drama,Jon Avnet,Richard Gere,Peter Dinklage,Walton Goggins
4,Inherit the Viper,Anthony Jerjen (director); Andrew Crabtree (sc...,Crime Thriller Drama,Anthony Jerjen,Josh Hartnett,Margarita Levieva,Chandler Riggs
...,...,...,...,...,...,...,...
269,We Can Be Heroes,Robert Rodriguez (director/screenplay); Priyan...,Action Fantasy Family Comedy,Robert Rodriguez,Priyanka Chopra Jonas,Pedro Pascal,YaYa Gosselin
270,News of the World,Paul Greengrass (director/screenplay); Luke Da...,Adventure Western,Paul Greengrass,Tom Hanks,Helena Zengel,None
271,One Night in Miami...,Regina King (director); Kemp Powers (screenpla...,Drama,Regina King,Kingsley Ben-Adir,Eli Goree,Aldis Hodge
272,Promising Young Woman,Emerald Fennell (director/screenplay); Carey M...,Thriller Crime Drama,Emerald Fennell,Carey Mulligan,Bo Burnham,Alison Brie
273,Pieces of a Woman,Kornél Mundruczó (director); Kata Wéber (scree...,Drama,Kornél Mundruczó,Vanessa Kirby,Shia LaBeouf,Molly Parker

In [ ]:
df_20['actor_1_name'][0].strip()

'Andrea Riseborough'

In [ ]:
round(df_20.isnull().sum().sort_values(ascending=False)/len(df_20)*100,2)

actor_3_name     9.85
actor_2_name     1.46
genres           0.36
Title            0.00
Cast and crew    0.00
director_name    0.00
actor_1_name     0.00
dtype: float64

In [ ]:
(df_20.isnull().sum(axis=1).sort_values(ascending=False) >=2).sum()

4

In [ ]:
df_20.dropna(how='any',inplace=True)

In [ ]:
round(df_20.isnull().sum().sort_values(ascending=False)/len(df_20)*100,2)

Title            0.0
Cast and crew    0.0
genres           0.0
director_name    0.0
actor_1_name     0.0
actor_2_name     0.0
actor_3_name     0.0
dtype: float64

In [ ]:
df_20['Title'] = df_20['Title'].str.lower()

In [ ]:
df_20 = df_20.rename(columns={'Title':'movie_title'})

In [ ]:
new_df20 = df_20.loc[:,['movie_title','director_name', 'genres','actor_1_name', 'actor_2_name','actor_3_name']]

In [ ]:
new_df20['comb'] = new_df20['director_name'] +' ' + new_df20['genres']+' '+ new_df20['actor_1_name'] + ' ' + new_df20['actor_2_name'] + ' '+ new_df20['actor_3_name']

In [ ]:
new_df20

,movie_title,director_name,genres,actor_1_name,actor_2_name,actor_3_name,comb
0,the grudge,Nicolas Pesce,Horror Mystery Thriller,Andrea Riseborough,Demián Bichir,John Cho,Nicolas Pesce Horror Mystery Thriller Andrea R...
1,underwater,William Eubank,Action Horror Science Fiction Thriller,Kristen Stewart,Vincent Cassel,Jessica Henwick,William Eubank Action Horror Science Fiction T...
2,like a boss,Miguel Arteta,Comedy,Tiffany Haddish,Rose Byrne,Salma Hayek,Miguel Arteta Comedy Tiffany Haddish Rose Byrn...
3,three christs,Jon Avnet,Drama,Richard Gere,Peter Dinklage,Walton Goggins,Jon Avnet Drama Richard Gere Peter Dinklage Wa...
4,inherit the viper,Anthony Jerjen,Crime Thriller Drama,Josh Hartnett,Margarita Levieva,Chandler Riggs,Anthony Jerjen Crime Thriller Drama Josh Hartn...
...,...,...,...,...,...,...,...
268,soul,Pete Docter,Animation Comedy Fantasy Family,Jamie Foxx,Tina Fey,Graham Norton,Pete Docter Animation Comedy Fantasy Family Ja...
269,we can be heroes,Robert Rodriguez,Action Fantasy Family Comedy,Priyanka Chopra Jonas,Pedro Pascal,YaYa Gosselin,Robert Rodriguez Action Fantasy Family Comedy ...
271,one night in miami...,Regina King,Drama,Kingsley Ben-Adir,Eli Goree,Aldis Hodge,Regina King Drama Kingsley Ben-Adir Eli Goree ...
272,promising young woman,Emerald Fennell,Thriller Crime Drama,Carey Mulligan,Bo Burnham,Alison Brie,Emerald Fennell Thriller Crime Drama Carey Mul...
273,pieces of a woman,Kornél Mundruczó,Drama,Vanessa Kirby,Shia LaBeouf,Molly Parker,Kornél Mundruczó Drama Vanessa Kirby Shia LaBe...

In [ ]:
df_20.isnull().sum().sort_values(ascending=False)

movie_title      0
Cast and crew    0
genres           0
director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
dtype: int64

-  ### Subtask 1.2: Import and read 2021 movies from Wikipedia

In [ ]:
link="https://en.wikipedia.org/wiki/List_of_American_films_of_2021"
df1 = pd.read_html(link)[3]
df2 = pd.read_html(link)[4]
df3 = pd.read_html(link)[5]
df4 = pd.read_html(link)[6]

In [ ]:
data_21 = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [ ]:
data_21['Cast and crew'][4]

'Mikael Håfström (director); Rob Yescombe, Rowan Athale (screenplay); Anthony Mackie, Damson Idris, Emily Beecham, Michael Kelly, Pilou Asbæk'

In [ ]:
data_21['genres'] = data_21['Title'].map(lambda x: get_genre(str(x)))

In [ ]:
df_21 = data_21[['Title','Cast and crew','genres']]

In [ ]:
df_21.dropna(subset=['Cast and crew'],inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [ ]:
# function get director
def get_director(x):
      if " (director)" in x:
        return x.split(" (director)")[0]
      elif " (directors)" in x:
        return x.split(" (directors)")[0]
      else:
        return x.split(" (director/screenplay)")[0]

In [ ]:
director = df_21['Cast and crew'].map(lambda x: get_director(x))

In [ ]:
get_actor(df_21['Cast and crew'][10])

['Jake Allyn', 'Frank Grillo', 'Jorge A. Jiménez']

In [ ]:
df_21

,Title,Cast and crew,genres
0,Shadow in the Cloud,Roseanne Liang (director/screenplay); Max Land...,Horror Action War
1,The White Tiger,Ramin Bahrani (director/screenplay); Adarsh Go...,Drama
2,Locked Down,Doug Liman (director); Steven Knight (screenpl...,Comedy Crime Drama
3,The Dig,Simon Stone (director); Moira Buffini (screenp...,Drama History
4,Outside the Wire,"Mikael Håfström (director); Rob Yescombe, Rowa...",Thriller Action Science Fiction
...,...,...,...
353,The King's Man,Matthew Vaughn (director/screenplay); Karl Gaj...,Action Adventure Thriller War
354,The Tragedy of Macbeth,Joel Coen (director/screenplay); Denzel Washin...,Drama War
355,A Journal for Jordan,Denzel Washington (director); Virgil Williams ...,Drama Romance
356,American Underdog,"Erwin brothers (directors); Jon Erwin, David A...",Drama
357,Memoria,Apichatpong Weerasethakul (director/acreenplay...,Drama Fantasy Mystery

In [ ]:
actors = df_21['Cast and crew'].map(lambda x: get_actor(x))

In [ ]:
actors = pd.DataFrame(actors.to_list(), columns=['actor_1_name','actor_2_name','actor_3_name'])

In [ ]:
actors

,actor_1_name,actor_2_name,actor_3_name
0,Chloë Grace Moretz,Taylor John Smith,Beulah Koale
1,Adarsh Gourav,Rajkummar Rao,Priyanka Chopra Jonas
2,Anne Hathaway,Chiwetel Ejiofor,Stephen Merchant
3,Carey Mulligan,Ralph Fiennes,Lily James
4,Anthony Mackie,Damson Idris,Emily Beecham
...,...,...,...
353,Ralph Fiennes,Gemma Arterton,Rhys Ifans
354,Denzel Washington,Frances McDormand,Bertie Carvel
355,Michael B. Jordan,Chanté Adams,Jalon Christian
356,Zachary Levi,Anna Paquin,Dennis Quaid
357,Apichatpong Weerasethakul (director/acreenplay...,Elkin Díaz,Jeanne Balibar

In [ ]:
df_21['director_name'] = director

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_21 = pd.merge(df_21, actors, left_index=True, right_index=True)

In [ ]:
df_21['actor_1_name'][10].strip()

'Jake Allyn'

In [ ]:
round(df_21.isnull().sum().sort_values(ascending=False)/len(df_21)*100,2)

actor_3_name     6.98
actor_2_name     2.23
genres           0.28
Title            0.00
Cast and crew    0.00
director_name    0.00
actor_1_name     0.00
dtype: float64

In [ ]:
df_21.dropna(how='any',inplace=True)

In [ ]:
df_21

,Title,Cast and crew,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,Shadow in the Cloud,Roseanne Liang (director/screenplay); Max Land...,Horror Action War,Roseanne Liang,Chloë Grace Moretz,Taylor John Smith,Beulah Koale
1,The White Tiger,Ramin Bahrani (director/screenplay); Adarsh Go...,Drama,Ramin Bahrani,Adarsh Gourav,Rajkummar Rao,Priyanka Chopra Jonas
2,Locked Down,Doug Liman (director); Steven Knight (screenpl...,Comedy Crime Drama,Doug Liman,Anne Hathaway,Chiwetel Ejiofor,Stephen Merchant
3,The Dig,Simon Stone (director); Moira Buffini (screenp...,Drama History,Simon Stone,Carey Mulligan,Ralph Fiennes,Lily James
4,Outside the Wire,"Mikael Håfström (director); Rob Yescombe, Rowa...",Thriller Action Science Fiction,Mikael Håfström,Anthony Mackie,Damson Idris,Emily Beecham
...,...,...,...,...,...,...,...
353,The King's Man,Matthew Vaughn (director/screenplay); Karl Gaj...,Action Adventure Thriller War,Matthew Vaughn,Ralph Fiennes,Gemma Arterton,Rhys Ifans
354,The Tragedy of Macbeth,Joel Coen (director/screenplay); Denzel Washin...,Drama War,Joel Coen,Denzel Washington,Frances McDormand,Bertie Carvel
355,A Journal for Jordan,Denzel Washington (director); Virgil Williams ...,Drama Romance,Denzel Washington,Michael B. Jordan,Chanté Adams,Jalon Christian
356,American Underdog,"Erwin brothers (directors); Jon Erwin, David A...",Drama,Erwin brothers,Zachary Levi,Anna Paquin,Dennis Quaid
357,Memoria,Apichatpong Weerasethakul (director/acreenplay...,Drama Fantasy Mystery,Apichatpong Weerasethakul (director/acreenplay...,Apichatpong Weerasethakul (director/acreenplay...,Elkin Díaz,Jeanne Balibar

In [ ]:
df_21.isnull().sum().sort_values(ascending=False)

Title            0
Cast and crew    0
genres           0
director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
dtype: int64

In [ ]:
df_21['Title'] = df_21['Title'].str.lower()

In [ ]:
df_21 = df_21.rename(columns={'Title':'movie_title'})

In [ ]:
new_df21 = df_21.loc[:,['movie_title','director_name', 'genres','actor_1_name', 'actor_2_name','actor_3_name']]

In [ ]:
new_df21['comb'] = new_df21['director_name'] +' ' + new_df21['genres']+' '+ new_df21['actor_1_name'] + ' ' + new_df21['actor_2_name'] + ' '+ new_df21['actor_3_name']

## Task 2: Gather 2020 and 2021 movies data

In [ ]:
my_df = new_df20.append(new_df21,ignore_index=True)

In [ ]:
my_df

,movie_title,director_name,genres,actor_1_name,actor_2_name,actor_3_name,comb
0,the grudge,Nicolas Pesce,Horror Mystery Thriller,Andrea Riseborough,Demián Bichir,John Cho,Nicolas Pesce Horror Mystery Thriller Andrea R...
1,underwater,William Eubank,Action Horror Science Fiction Thriller,Kristen Stewart,Vincent Cassel,Jessica Henwick,William Eubank Action Horror Science Fiction T...
2,like a boss,Miguel Arteta,Comedy,Tiffany Haddish,Rose Byrne,Salma Hayek,Miguel Arteta Comedy Tiffany Haddish Rose Byrn...
3,three christs,Jon Avnet,Drama,Richard Gere,Peter Dinklage,Walton Goggins,Jon Avnet Drama Richard Gere Peter Dinklage Wa...
4,inherit the viper,Anthony Jerjen,Crime Thriller Drama,Josh Hartnett,Margarita Levieva,Chandler Riggs,Anthony Jerjen Crime Thriller Drama Josh Hartn...
...,...,...,...,...,...,...,...
573,the king's man,Matthew Vaughn,Action Adventure Thriller War,Ralph Fiennes,Gemma Arterton,Rhys Ifans,Matthew Vaughn Action Adventure Thriller War R...
574,the tragedy of macbeth,Joel Coen,Drama War,Denzel Washington,Frances McDormand,Bertie Carvel,Joel Coen Drama War Denzel Washington Frances ...
575,a journal for jordan,Denzel Washington,Drama Romance,Michael B. Jordan,Chanté Adams,Jalon Christian,Denzel Washington Drama Romance Michael B. Jor...
576,american underdog,Erwin brothers,Drama,Zachary Levi,Anna Paquin,Dennis Quaid,Erwin brothers Drama Zachary Levi Anna Paquin ...
577,memoria,Apichatpong Weerasethakul (director/acreenplay...,Drama Fantasy Mystery,Apichatpong Weerasethakul (director/acreenplay...,Elkin Díaz,Jeanne Balibar,Apichatpong Weerasethakul (director/acreenplay...

In [ ]:
old_df = pd.read_csv(path_dir+'/'+'final_data.csv')

In [ ]:
old_df

,movie_title,director_name,genres,actor_1_name,actor_2_name,actor_3_name,comb
0,avatar,James Cameron,Action Adventure Fantasy Sci-Fi,CCH Pounder,Joel David Moore,Wes Studi,James Cameron Action Adventure Fantasy Sci-Fi ...
1,pirates of the caribbean: at world's end,Gore Verbinski,Action Adventure Fantasy,Johnny Depp,Orlando Bloom,Jack Davenport,Gore Verbinski Action Adventure Fantasy Johnny...
2,spectre,Sam Mendes,Action Adventure Thriller,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Sam Mendes Action Adventure Thriller Christoph...
3,the dark knight rises,Christopher Nolan,Action Thriller,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Christopher Nolan Action Thriller Tom Hardy Ch...
4,star wars: episode vii - the force awakens,Doug Walker,Documentary,Doug Walker,Rob Walker,unknown,Doug Walker Documentary Doug Walker Rob Walker...
...,...,...,...,...,...,...,...
5855,spies in disguise,"Nick Bruno, Troy Quane",Animation Action Adventure Comedy Family,Will Smith,Tom Holland,Rashida Jones,"Nick Bruno, Troy Quane Animation Action Advent..."
5856,little women,Greta Gerwig,Drama Romance,Saoirse Ronan,Emma Watson,Florence Pugh,Greta Gerwig Drama Romance Saoirse Ronan Emma ...
5857,1917,Sam Mendes,War Drama Action Thriller,George MacKay,Dean-Charles Chapman,Mark Strong,Sam Mendes War Drama Action Thriller George Ma...
5858,just mercy,Destin Daniel Cretton,Drama Crime History,Michael B. Jordan,Jamie Foxx,Brie Larson,Destin Daniel Cretton Drama Crime History Mich...
5859,clemency,Chinonye Chukwu,Drama,Alfre Woodard,Wendell Pierce,Aldis Hodge,Chinonye Chukwu Drama Alfre Woodard Wendell Pi...

In [ ]:
final_df = old_df.append(my_df,ignore_index=True)

In [ ]:
final_df

,movie_title,director_name,genres,actor_1_name,actor_2_name,actor_3_name,comb
0,avatar,James Cameron,Action Adventure Fantasy Sci-Fi,CCH Pounder,Joel David Moore,Wes Studi,James Cameron Action Adventure Fantasy Sci-Fi ...
1,pirates of the caribbean: at world's end,Gore Verbinski,Action Adventure Fantasy,Johnny Depp,Orlando Bloom,Jack Davenport,Gore Verbinski Action Adventure Fantasy Johnny...
2,spectre,Sam Mendes,Action Adventure Thriller,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Sam Mendes Action Adventure Thriller Christoph...
3,the dark knight rises,Christopher Nolan,Action Thriller,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Christopher Nolan Action Thriller Tom Hardy Ch...
4,star wars: episode vii - the force awakens,Doug Walker,Documentary,Doug Walker,Rob Walker,unknown,Doug Walker Documentary Doug Walker Rob Walker...
...,...,...,...,...,...,...,...
6433,the king's man,Matthew Vaughn,Action Adventure Thriller War,Ralph Fiennes,Gemma Arterton,Rhys Ifans,Matthew Vaughn Action Adventure Thriller War R...
6434,the tragedy of macbeth,Joel Coen,Drama War,Denzel Washington,Frances McDormand,Bertie Carvel,Joel Coen Drama War Denzel Washington Frances ...
6435,a journal for jordan,Denzel Washington,Drama Romance,Michael B. Jordan,Chanté Adams,Jalon Christian,Denzel Washington Drama Romance Michael B. Jor...
6436,american underdog,Erwin brothers,Drama,Zachary Levi,Anna Paquin,Dennis Quaid,Erwin brothers Drama Zachary Levi Anna Paquin ...
6437,memoria,Apichatpong Weerasethakul (director/acreenplay...,Drama Fantasy Mystery,Apichatpong Weerasethakul (director/acreenplay...,Elkin Díaz,Jeanne Balibar,Apichatpong Weerasethakul (director/acreenplay...

In [ ]:
final_df.isnull().sum()

movie_title       0
director_name     0
genres            2
actor_1_name      0
actor_2_name     10
actor_3_name     27
comb             27
dtype: int64

In [ ]:
final_df.isnull().sum()

movie_title       0
director_name     0
genres            2
actor_1_name      0
actor_2_name     10
actor_3_name     27
comb             27
dtype: int64

In [ ]:
final_df.dropna(how='any', inplace=True)

In [ ]:
final_df

,movie_title,director_name,genres,actor_1_name,actor_2_name,actor_3_name,comb
0,avatar,James Cameron,Action Adventure Fantasy Sci-Fi,CCH Pounder,Joel David Moore,Wes Studi,James Cameron Action Adventure Fantasy Sci-Fi ...
1,pirates of the caribbean: at world's end,Gore Verbinski,Action Adventure Fantasy,Johnny Depp,Orlando Bloom,Jack Davenport,Gore Verbinski Action Adventure Fantasy Johnny...
2,spectre,Sam Mendes,Action Adventure Thriller,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Sam Mendes Action Adventure Thriller Christoph...
3,the dark knight rises,Christopher Nolan,Action Thriller,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Christopher Nolan Action Thriller Tom Hardy Ch...
4,star wars: episode vii - the force awakens,Doug Walker,Documentary,Doug Walker,Rob Walker,unknown,Doug Walker Documentary Doug Walker Rob Walker...
...,...,...,...,...,...,...,...
6433,the king's man,Matthew Vaughn,Action Adventure Thriller War,Ralph Fiennes,Gemma Arterton,Rhys Ifans,Matthew Vaughn Action Adventure Thriller War R...
6434,the tragedy of macbeth,Joel Coen,Drama War,Denzel Washington,Frances McDormand,Bertie Carvel,Joel Coen Drama War Denzel Washington Frances ...
6435,a journal for jordan,Denzel Washington,Drama Romance,Michael B. Jordan,Chanté Adams,Jalon Christian,Denzel Washington Drama Romance Michael B. Jor...
6436,american underdog,Erwin brothers,Drama,Zachary Levi,Anna Paquin,Dennis Quaid,Erwin brothers Drama Zachary Levi Anna Paquin ...
6437,memoria,Apichatpong Weerasethakul (director/acreenplay...,Drama Fantasy Mystery,Apichatpong Weerasethakul (director/acreenplay...,Elkin Díaz,Jeanne Balibar,Apichatpong Weerasethakul (director/acreenplay...

In [ ]:
final_df.to_csv('/content/drive/MyDrive/LV/RecommenderSYS'+'/'+'main_data.csv',index=False)